In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#load data
df = pd.read_csv(r"FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")

In [3]:
#check the data
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

# Question 1

In [4]:
df[["Y2017", "Area"]].groupby("Area").sum().sort_values(by = "Y2017", ascending=False)

                                  Y2017
Area
Nigeria                      1483268.23
Egypt                         866379.92
South Africa                  517590.54
Ethiopia                      448683.76
Morocco                       388495.36
Ghana                         337599.06
Algeria                       325644.27
United Republic of Tanzania   322616.85
Kenya                         264660.66
Sudan                         239931.92
Cameroon                      232030.43
Angola                        229159.57
Côte d'Ivoire                 224599.01
Uganda                        213950.38
Malawi                        181098.71
Mozambique                    161407.98
Mauritania                    156665.46
Mali                          149928.33
Madagascar                    131197.73
Niger                         126707.58
Benin                         124771.22
Tunisia                       124167.20
Zambia                        103223.77
Burkina Faso                  101855.07
Guinea                         98138.87
Senegal                        95681.15
Zimbabwe                       75919.34
Rwanda                         73663.69
Chad                           71594.68
Sierra Leone                   55311.33
Eswatini                       54343.33
Mauritius                      51114.83
Togo                           49841.88
Congo                          41181.68
Central African Republic       29937.00
Namibia                        29874.89
Liberia                        29342.20
Gabon                          27979.64
Gambia                         23154.18
Djibouti                       22729.91
Botswana                       22101.30
Lesotho                        21267.96
Guinea-Bissau                  19102.77
Cabo Verde                     14650.74
Sao Tome and Principe          12662.63
Seychelles                       442.34
Comoros                           59.84
Sudan (former)                     0.00
Ethiopia PDR                       0.00

# Question 2

In [5]:
df.groupby("Element").sum()["Y2017"].loc["Processing"]

292836.0

# Question 3

In [6]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

# Question 4

In [7]:
df.groupby("Item")[["Y2015", "Y2018"]].sum().loc["Wine"]

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64

# Question 5

In [8]:
df[["Element", "Y2014", "Y2015", "Y2016", "Y2017", "Y2018"]].groupby("Element").sum().loc["Stock Variation"].sort_values(ascending=False)

Y2014    58749.83
Y2017    54316.91
Y2015    34910.99
Y2016    33140.12
Y2018    20577.91
Name: Stock Variation, dtype: float64

# Question 6

In [9]:
df["Area"].nunique()

49

# Question 7

Math

# Question 8

3 features, 100 observations

# Question 9

In [10]:
y = [(2, 4), (7, 8), (1, 5, 9)]

In [11]:
x = y[1][1]
x

8

In [12]:
x = y[1][-1]
x

8

# Question 10

In [13]:
df.shape

(60943, 12)

# Question 11

In [14]:
df[["Element Code", "Y2014", "Y2015", "Y2016", "Y2017", "Y2018"]].corr().loc["Element Code"].sort_values(ascending = True).head(1)

Y2016    0.023444
Name: Element Code, dtype: float64

# Question 12

In [15]:
array = np.array([[94, 89, 63],
                  [93, 92, 48],
                  [92, 94, 56]])

In [16]:
array[:2, 1:]

array([[89, 63],
       [92, 48]])

# Question 13

In [17]:
df.iloc[:]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

# Question 14

In [18]:
df[["Y2017", "Area"]].groupby("Area").sum().sort_values(by="Y2017", ascending=True).iloc[6]

Y2017    19102.77
Name: Guinea-Bissau, dtype: float64

# Question 15

In [19]:
round(df["Y2017"].mean(), 2), round(df["Y2017"].std(), 2)

(140.92, 1671.86)

# Question 16

In [20]:
df[df["Area"]=="Madagascar"].groupby("Element")["Y2015"].sum().loc["Protein supply quantity (g/capita/day)"]

173.05

# Question 17

In [21]:
my_tuppy = (1, 2, 5, 8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

# Question 18

Set

# Question 19

In [22]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ["Age","Nationality","Overall"]

In [23]:
pd.DataFrame(lst, columns=col, index=[i for i in range(1, 4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

# Question 20

In [24]:
{"total": df["Y2014"].isnull().sum(), "percentage": round(df["Y2014"].isnull().sum()/df.shape[0] * 100, 3)}

{'total': 1589, 'percentage': 2.607}